<div class="container-fluid center">
  <div class="row">
      <!-- show form -->
      <div class="col-md-4 mt-5">

         <div class="card border-0 shadow">
             <div class="card-body">x
              <div>
                  <input type="file" class="text-nowrap text-truncate file" (change)="selectFile($event)">
                  <button type="button" class="btn btn-outline-warning" [disabled] = "!selectedFiles" (click)="upload()">Upload</button>
                  <button type="button" class="btn btn-warning text-center logout" (click)="register()">Logout</button>
              </div>
  
              <div class="progress mt-2">
                  <div class="progress-bar progress-bar-info"
                      role="progressbar" attr.aria-valuenow="{{percentage}}"
                      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: percentage + '%' }">
                      {{percentage}}%
                  </div>
              </div>
             </div>
         </div>
         
      </div>
      <app-upload-list></app-upload-list>
    </div>
</div>
  